* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f9f9f9;
}

.intro-desconto,
.intro-loja {
  text-align: center;
  font-weight: 600;
}

.intro-desconto {
  background: #181818;
  color: #f9f9f9;
  padding: 20px 0;
}

.intro-loja {
  padding: 15px 0;
  color: #181818;
  font-size: 1.5rem;
}

.intro-imagem {
  background: url(.././images/wallpaper-editado.png) fixed no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 400px;
}

.intro-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #f9f9f9;
  margin-left: 100px;
}

.intro-principal h1 {
  margin-top: 100px;
  font-weight: 600;
  font-size: 3rem;
}

.intro-principal p {
  margin-top: 20px;
  max-width: 40ch;
  font-size: 1.5rem;
  font-weight: 500;
}

.conteudo {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.conteudo h1 {
  color: #181818;
  font-size: 2rem;
  margin-top: 70px;
}

.conteudo p {
  font-size: 1.25rem;
  color: #474747;
  margin-top: 20px;
  margin-bottom: 65px;
}

.conteudo-produto {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 0 auto;
  max-width: 1400px;
}

.conteudo-produto .conteudo-produto-item {
  display: flex;
  background: #ebe9ea;
  width: 415px;
  height: 300px;
  align-items: center;
  justify-content: center;
}

.conteudo-produto .conteudo-produto-item img {
  width: 250px;
  height: 150px;
}

.footer {
  background: #181818;
  color: #f9f9f9;
  padding: 20px 0;
  text-align: center;
  margin-top: 100px;
}
