// Cores
$green-light: #04C35C;
$purple-light: #2B6CB0; 
$white: #fff;
$white-200: #F7FAFC;
$gray: #1A202C;

// Fontes
$fonte-M: 'Merriweather', sans-serif;
$fonte-L: 'Lato', sans-serif;

// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1400px;
    height: 100vh;
    display: flex;
    align-items: center;
    .ilustracao {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 50%;
        background: #f7fafc;
    }
    .login {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        width: 50%;
    }
}