// Cores
$green-light: #04C35C;
$purple-light: #2B6CB0; 
$white: #fff;
$white-200: #F7FAFC;
$gray: #1A202C;

// Fontes
$fonte-M: 'Merriweather', sans-serif;
$fonte-L: 'Lato', sans-serif;

// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1400px;
    height: 100vh;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.ilustracao {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 50%;
    background: $white-200;
    @media (max-width: 900px) {
     display: none;   
    }
}

.login {
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: left;
    margin: 0 100px;
    justify-content: center;
    color: $gray;
    @media (max-width: 900px) {
        margin: 0 auto;
    }
    span, h1 {
        font-family: $fonte-M;
    }
    span {
        font-weight: 400;
        font-size: 1rem;
        margin-bottom: 7px;
    }
    h1 {
        font-weight: 700;
        font-size: 1.625rem;
        margin-bottom: 25px;
    }
    label, input::placeholder, a, button {
        font-family: $fonte-L;
    }
    label {
        font-size: 1rem;
        display: flex;
        margin-bottom: 10px;
    }
    input[type="email"],
    input[type="password"] {
        height: 50px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid #E8E8E8;
    }
    input[type="email"] {
        margin-bottom: 10px;
    }
    input[type="password"] {
        margin-bottom: 28px;
    }
    .form-detalhes {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 26px;
        .form-radio {
            display: flex;
            justify-content: center;
            gap: 0 10px;
        }
        a {
            text-decoration: none;
            color: #2B6CB0;
            font-size: 0.875rem;
        }
    }
    button {
        display: flex;
        height: 50px;
        border-radius: 5px;
        border: none;
        color: $white;
        font-size: 1rem;
        font-weight: 700;
        align-items: center;
        justify-content: center;
        gap: 10px;
        cursor: pointer;
    }
    button + button {
        margin-top: 15px;
    }
    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 10px;
        font-size: 1rem;
        color: $gray;
        gap: 5px;
        a {
            color: #2B6CB0;
            text-decoration: none;
        }
    }
}