* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  height: 100vh;
  display: flex;
  align-items: center;
}

.container .ilustracao {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 50%;
  background: #f7fafc;
}

.container .login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 50%;
}
