.intro-desconto, 
.intro-loja {
    text-align: center;
    font-weight: 600;
}

.intro-desconto {
    background: $preto-claro;
    color: $branco;
    padding: 20px 0;
}

.intro-loja {
    padding: 15px 0;
    color: $preto-claro;;
    font-size: 1.5rem;
}

.intro-imagem {
    background-image: url(.././images/wallpaper.jpeg);
    max-width: 100%;
    height: 378px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    filter: brightness(50%);
}