// Cores
$branco: #f9f9f9;
$branco-200: #ebe9ea;
$cinza: #474747;
$preto-claro: #181818;

// Fonte
$fonte: 'Montserrat', sans-serif;
body {
    font-family: $fonte;
}

// Reset 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Classes
