* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

// Intro
.intro-bg {
    background: $purple-light;
}

.intro {
    display: flex;
    height: 560px;
    justify-content: space-between;
    .intro-descricao {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: 400;
        max-width: 50ch;
        h1 {
            font-family: $fonte-M;
            font-size: 2.25rem;
            color: #2B2B2B;
            margin-bottom: 17px;
        }
        p, button {
            font-family: $fonte-L;
            font-size: 1.25rem;
        }
        p {
            color: $gray;
            margin-bottom: 59px;
            @media (max-width: 1000px) {
                margin-bottom: 46px;
            }
        }
        button {
            width: 155px;
            height: 50px;
            border: none;
            border-radius: 5px;
            background: $purple;
            color: $white;
            cursor: pointer;
        }
    }
    @media (max-width: 1000px) {
        flex-direction: column;
        gap: 0;
        height: 700px;
        justify-content: center;
        margin-bottom: 75px;
    }
}

// Card Section
.section-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 0;
    @media (max-width: 1115px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 1000px) {
        grid-template-columns: 1fr;
        padding: 0px;
    }
}

.card {
    width: 340px;
    height: 423px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin: 150px auto 0 auto;
    h2 {
        font-family: $fonte-M;
        font-weight: 700;
        font-size: 1.5rem;
        color: $gray-dark;
        margin-top: 24px;
    }
    p {
        font-family: $fonte-L;
        font-weight: 400;
        font-size: 1.125rem;
        color: $gray;
        margin-top: 26px;
    }
    .card-color {
        height: 222px;
    }
    .card-info {
        margin-left: 30px;
        max-width: 30ch;
    }
    @media (max-width: 1000px) {
        margin: 30px auto;
    }
}

// Formulário

.form-bg {
    background: $purple-light;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 150px;
    h1 {
        font-family: $fonte-M;
        font-weight: 400;
        font-size: 2rem;
        color: $gray-dark;
        margin: 86px auto 60px auto;
    }
}

.form-campos {
    font-family: $fonte-L;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 15px;
    input, textarea {
        width: 470px;
        font-size: 1.125rem;
        padding: 15px;
        border: none;
        border-radius: 6px;
    }
    input {
        height: 65px;
    }
    input::placeholder,
    textarea::placeholder {
        opacity: 74%;
    }
    button {
        font-size: 1.25rem;
        color: $white;
        margin-top: 30px;
        margin-bottom: 80px;
        background: $purple;
        border: none;
        height: 50px;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);
        transition: .3s all;
    }
    button:hover {
        background: #514ad6;
    }
}