/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--cor-branca-2);
}

/* Header */

.header {
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.header-nav {
    font-family: var(--fonte-destaque);
    font-size: 1.5rem;
    color: var(--cor-branca);
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 40px 0;
}

.header-busca {
    display: flex;
    width: 100%;
    height: 65px;
    border: none;
    padding: 10px 20px;
    outline: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 25%);
    margin-bottom: 40px;    
}

.header-busca input {
    background: transparent;
    border: none;
    outline: none;
    color: var(--cor-branca);
    margin-left: 18px;
    font-size: 1.125rem;
    font-weight: 500;
    width: 100%;
}

.header-busca input::placeholder {
    color: var(--cor-branca);
    margin-left: 18px;
    opacity: 40%;
    font-size: 1.125rem;
    font-family: var(--fonte-conteudo);
    font-weight: 500;
}

.header-busca img {
    cursor: pointer;
}

/* Conteúdo */

.conteudo {
    font-family: var(--fonte-destaque);
    background: var(--cor-branca);
    box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.05);
    border-radius: 5px;
    padding: 25px;
    width: 100%;
    margin-bottom: 50px;
}

.conteudo-detalhe {
    display: flex;
    justify-content: space-between;
    color: var(--cor-cinza);
    padding-bottom: 20px;
}

.conteudo h2 {
    font-size: 1.625rem;
    color: var(--cor-cinza-escuro);
    padding-bottom: 10px;
}

.conteudo p {
    color: var(--cor-cinza);
    font-size: 1.125rem;
    line-height: 2rem;
}

img#icon {
    cursor: pointer;
  }
  
  #icon.filled {
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 26 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.45735 8.02047C9.29051 9.56881 10.2334 10.6064 11.6294 11.7078C12.7195 12.5678 14.0343 13.5802 15.349 14.1123C15.7649 14.2807 15.7449 13.5381 15.7193 13.318C15.5911 12.218 14.6779 11.5895 13.7638 11.1088M13.7638 11.1088C13.6203 11.0333 13.4767 10.9614 13.3362 10.892C12.8218 10.6377 12.1972 10.337 11.6133 10.2425C11.4933 10.2231 11.4495 10.2713 11.4523 10.3821C11.4712 11.119 12.0516 11.6807 12.7404 11.8634C13.0843 11.9547 13.2479 11.6972 13.465 11.4502C13.5625 11.3394 13.663 11.2255 13.7638 11.1088ZM13.7638 11.1088C14.1786 10.6283 14.5984 10.0981 14.8283 9.52331C14.985 9.13166 15.5909 9.11007 15.9501 9.03488C16.4496 8.93035 16.9308 8.76901 17.41 8.59477C17.6081 8.52271 18.9315 7.8129 19.1812 7.92386C19.4465 8.04178 19.2637 9.26982 19.2241 9.51257C19.1376 10.0441 18.9287 10.3426 18.4996 10.6397C17.9719 11.005 17.5065 11.5308 17.0772 12.003C16.4335 12.711 17.9326 12.0968 18.2151 11.8849M17.2049 6.40112C17.3412 6.38408 16.7465 5.66275 16.6014 5.58617C16.5406 5.55408 16.3244 5.50984 16.3409 5.4108C16.395 5.0863 17.2381 4.89365 17.4886 4.82795C17.7321 4.76406 18.093 4.69644 18.3448 4.68352C18.6322 4.66878 18.9484 4.6629 19.2371 4.68352C19.4931 4.70181 19.9422 5.27289 20.0366 5.5088C20.3028 6.17435 20.6787 6.77594 20.965 7.43272C21.1508 7.85889 21.1508 8.15654 21.1507 8.6122V8.63452C21.1507 9.12685 20.7907 9.5288 20.5008 9.89306L20.4944 9.90118C20.2944 10.1524 20.0991 10.3978 19.8561 10.61C19.3346 11.0654 18.6666 11.357 18.19 11.8582C17.9171 12.1453 17.6089 12.3955 17.3338 12.6784C17.0316 12.9892 16.8083 13.3742 16.5086 13.6893C16.304 13.9044 16.1466 14.1579 15.9412 14.3702C15.7474 14.5704 15.5331 14.773 15.3635 14.9943C15.0629 15.3863 14.619 15.6919 14.27 16.0465C14.1222 16.1967 13.9657 16.298 13.8058 16.4282C13.7621 16.4638 13.7165 16.4986 13.6703 16.5335M13.6703 16.5335C13.5187 16.6481 13.3615 16.7641 13.2487 16.913C13.2222 16.9481 13.1968 16.9834 13.1718 17.0187M13.6703 16.5335C13.5066 16.7082 13.3398 16.8798 13.1709 17.0489M13.6703 16.5335C14.0431 16.1357 14.3999 15.7222 14.7291 15.2883C15.3614 14.4547 15.8193 13.44 16.3022 12.5133C16.7349 11.683 16.9099 10.6637 16.8799 9.73317C16.853 8.89935 16.5949 7.80794 15.9876 7.20061C15.7113 6.92435 15.3943 6.95818 15.0334 6.95818C14.5764 6.95818 14.2624 7.23588 13.8522 7.3863C13.3671 7.56416 12.8326 7.62409 12.3306 7.73704C12.1209 7.78423 11.9128 7.84231 11.7065 7.89693C11.6579 7.9098 11.5263 7.9668 11.6188 8.02846C11.969 8.26192 12.6339 8.17864 13.0321 8.22188C13.3107 8.25215 13.7148 8.28609 13.9373 8.4901C14.068 8.60986 14.0052 8.96538 14.0018 9.11421C13.9917 9.54873 13.8639 9.90176 13.7284 10.3083C13.533 10.8945 13.5468 11.5109 13.5169 12.1213C13.467 13.143 13.4102 14.1527 13.3158 15.1697C13.2578 15.7937 13.1912 16.3969 13.1718 17.0187M13.1718 17.0187C13.1482 17.052 13.1249 17.0853 13.1013 17.1182M13.1718 17.0187C13.1715 17.0287 13.1712 17.0388 13.1709 17.0489M13.1013 17.1182C13.0422 17.2009 12.9811 17.2817 12.9083 17.3566C12.8571 17.4093 12.8063 17.465 12.7577 17.5229M13.1013 17.1182C13.0714 17.1479 13.0415 17.1775 13.0115 17.2071C12.9459 17.2715 12.8472 17.4003 12.7577 17.5229M13.1013 17.1182C13.1245 17.0952 13.1477 17.072 13.1709 17.0489M12.7577 17.5229C12.6902 17.6034 12.6271 17.688 12.573 17.7744C12.4951 17.8992 12.6146 17.719 12.7577 17.5229ZM13.1709 17.0489C13.1678 17.1543 13.1662 17.2602 13.1662 17.3669C13.1662 17.5514 13.3276 18.5338 12.8309 18.1974C12.5664 18.0182 12.4177 17.6033 12.2636 17.3386C12.0569 16.9837 11.8624 16.6237 11.6755 16.258C11.4583 15.8328 11.1178 15.4912 10.8296 15.1129C10.7267 14.9779 10.6468 14.828 10.5635 14.6802M10.5635 14.6802C10.521 14.6048 10.4777 14.53 10.4299 14.4579C10.1114 13.9771 9.72438 13.5475 9.38025 13.0858C8.85089 12.3756 8.43592 11.5844 7.80707 10.9504C7.36505 10.5049 6.88722 10.066 6.39895 9.67127C6.12779 9.45204 5.81787 9.28898 5.54789 9.06263C5.0052 8.60765 4.48661 8.05877 4.0985 7.46367C3.93873 7.21869 4.02113 7.68449 4.02113 7.78346C4.02113 8.45608 4.10479 9.01698 4.48019 9.5939C5.04104 10.4558 5.8747 11.0841 6.64137 11.7499C6.96729 12.033 7.35616 12.2352 7.65233 12.5494C8.05593 12.9776 8.53072 13.3168 8.92635 13.7564C9.09045 13.9387 9.32106 14.3677 9.55562 14.4682C9.78846 14.568 9.97271 14.8338 10.2416 14.7725C10.344 14.7491 10.4528 14.7184 10.5635 14.6802ZM10.5635 14.6802C11.0136 14.5252 11.4954 14.248 11.7065 13.8492C11.8576 13.5639 11.7102 13.2815 11.5414 13.0394C11.1343 12.4557 11.0493 11.659 10.9483 10.9711C10.7748 9.79048 10.9034 8.50285 11.0772 7.32956M19.7116 7.09745C19.7116 6.50477 18.955 6.40112 18.5047 6.40112M15.0231 5.51911C14.8652 5.51911 14.8036 5.59727 14.7084 5.72543C14.5775 5.90173 14.5461 5.97248 14.3628 6.08649C13.8983 6.37551 13.5137 6.80098 12.9444 6.90145C12.6083 6.96077 12.1827 6.93552 11.8458 6.90145C11.5753 6.8741 11.3318 6.77547 11.0669 6.73639C10.9346 6.71687 10.8019 6.69853 10.6697 6.67966C10.5614 6.66418 10.3987 6.40129 10.319 6.32891C10.0805 6.11241 9.84637 5.8632 9.58141 5.68417C9.2595 5.46666 8.95439 5.38106 8.57819 5.28701C8.11931 5.17229 7.62757 5.28701 7.15717 5.28701C6.58573 5.28701 6.07771 5.42183 5.56336 5.67901C5.45828 5.73155 5.30337 5.81582 5.21004 5.89049C5.18065 5.914 5.67689 6.17391 5.71294 6.19223C5.94586 6.3106 6.15573 6.46778 6.38863 6.58423C6.62998 6.70491 6.86537 6.82281 7.08496 6.9814C7.30178 7.13799 7.33987 7.31435 7.5956 7.14387M8.66329 6.7725C9.03268 6.67176 9.28602 5.95244 8.98567 5.68675C8.88827 5.60059 8.80123 5.50625 8.71491 5.41181M8.71491 5.41181C8.58357 5.26811 8.4539 5.12417 8.29192 5.00848C8.05689 4.8406 7.80689 4.84582 7.50017 4.82537C7.48402 4.82429 7.46376 4.82345 7.44096 4.82279M8.71491 5.41181C9.01634 5.40438 9.31704 5.39337 9.61494 5.37727C9.71662 5.37177 9.34515 5.19392 9.27709 5.14774C9.12692 5.04584 8.9076 4.85922 8.72777 4.82795C8.52319 4.79237 8.29125 4.82279 8.08302 4.82279H7.44096M8.71491 5.41181C8.24638 5.42336 7.77611 5.42627 7.31191 5.42627C6.98322 5.42627 6.73809 5.30004 6.58464 5.00848C6.46435 4.77994 6.80114 4.71243 6.94569 4.68352M7.44096 4.82279C7.28334 4.81825 7.004 4.82279 7.11591 4.82279H7.44096ZM23.6882 6.34384C23.5621 5.85039 23.3675 5.37703 23.11 4.93759C22.8627 4.48045 22.5465 4.06412 22.1725 3.70322C21.6303 3.16281 20.9882 2.73295 20.2819 2.43759C18.8603 1.85414 17.266 1.85414 15.8444 2.43759C15.1768 2.72015 14.5635 3.11669 14.0319 3.60947L13.9538 3.70322L12.9382 4.71884L11.9225 3.70322L11.8444 3.60947C11.3128 3.11669 10.6995 2.72015 10.0319 2.43759C8.6103 1.85414 7.01606 1.85414 5.59443 2.43759C4.88815 2.73295 4.24604 3.16281 3.70381 3.70322C2.96219 4.42483 2.4372 5.33949 2.18818 6.34384C2.0557 6.85387 1.99264 7.37945 2.00068 7.90635C2.00068 8.40166 2.06318 8.89542 2.18818 9.37512C2.31917 9.85952 2.50803 10.3264 2.75068 10.7657C3.01274 11.2173 3.33321 11.6323 3.70381 12.0001L12.9382 21.2344L22.1725 12.0001C22.5428 11.636 22.86 11.2188 23.11 10.7657C23.6175 9.89873 23.882 8.91093 23.8757 7.90635C23.8838 7.37945 23.8207 6.85386 23.6882 6.34384ZM22.1257 8.89073C21.9385 9.60463 21.5667 10.2567 21.0475 10.7813L12.9069 18.9063L4.76631 10.7813C4.50103 10.5142 4.27008 10.215 4.07881 9.89073C3.89882 9.56993 3.75722 9.22903 3.65693 8.8751C3.57687 8.52122 3.53496 8.15977 3.53193 7.79696C3.53405 7.42378 3.57595 7.05189 3.65693 6.68759C3.75428 6.33265 3.89602 5.99142 4.07881 5.67197C4.26631 5.34385 4.49756 5.04696 4.76631 4.78134C5.16771 4.38531 5.63927 4.06742 6.15693 3.84385C7.20008 3.42654 8.36378 3.42654 9.40693 3.84385C9.92256 4.05791 10.3882 4.37197 10.7819 4.76572L12.9069 6.90635L15.0319 4.76572C15.4254 4.37128 15.8926 4.05804 16.4069 3.84385C17.45 3.42654 18.6138 3.42654 19.6569 3.84385C20.1741 4.06729 20.646 4.38603 21.0475 4.78134C21.3194 5.03915 21.5475 5.33916 21.7194 5.67197C22.0813 6.3102 22.2698 7.03203 22.2663 7.76571C22.2875 8.14325 22.256 8.52191 22.1725 8.89073H22.1257Z' stroke='%23574AE8' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E%0A");
}