@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&family=Sen:wght@400;700&display=swap');

@import 'variables';
@import 'tipografia';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $white;
    color: $gray;
    font-family: $fonte-principal;
}

.container {
    max-width: rem(1440);
    margin: 0 auto;
    padding: 0 rem(45);
}

@import 'header';
